comfyui
timm
sentencepiece>=0.1.97
transformers>=4.34.1
accelerate>=0.23.0
einops>=0.6.0
flash-attn @ https://github.com/AppMana/ComfyUI_ExtraModels/releases/download/v0.0.0-flash_attn/flash_attn-2.5.9.post1-cp311-cp311-win_amd64.whl ;platform_system == 'Windows' and python_version == '3.11'
flash-attn ;platform_system == 'Linux'